body,
html,
app {
   background-image: url("https: //www.azutura.com/media/catalog/product/cache/52/image/650x/040ec09b1e35df139433887a97daa66f/W/S/WS-44610_WP.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   background-size: cover;
   background-blend-mode: overlay;
   padding-top: 15px;
   height: 100vw;
   background-color: #333;
   color: #fff;
}
