<h1>Catch Logs</h1>

<div class="container" id="logTableDiv" *ngIf="!selectedLog">
   <table class="table table-striped table-hover">
      <thead class="table-dark">
         <tr>
            <th>Log ID</th>
            <th>Fish Species</th>
            <th>Location</th>
            <th>Date</th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let log of catchlogs" (click)="displayLogDetails(log)">
            <td>{{ log.id }}</td>
            <td>{{ log.fish.commonName }}</td>
            <td>{{ log.water.name }}</td>
            <td>{{ log.date }}</td>
         </tr>
      </tbody>
   </table>
</div>

<div class="container" id="logDetailDiv" *ngIf="selectedLog && !editLog">
   <div class="row">
      <div class="col-6">
         <h2>Log No. {{ selectedLog.id }}</h2>
         <h3>{{ selectedLog.time.timeframe }} of {{ selectedLog.date }}</h3>
         <h3>Location: {{ selectedLog.water.name }}</h3>
         <h3>Fish Species: {{ selectedLog.fish.commonName }}</h3>
         <h4>{{ selectedLog.weight }} pounds | {{ selectedLog.length }} inches</h4>
         <h6>{{ selectedLog.createdAt }}</h6>
         <h6>{{ selectedLog.lastUpdate }}</h6>
      </div>

      <div class="col-6">
         <img id="logImage" src="{{selectedLog.water.image}}" alt="Picture of {{selectedLog.water.name}}">
         <br>
         <img id="logImage" src="{{selectedLog.fish.image}}" alt="Picture of {{selectedLog.fish.commonName}}">
      </div>
   </div>
   <div class="row">
   <button class="btn btn-outline-info" (click)="setEditLog()">
      Edit This Log
   </button>
   <button class="btn btn-outline-danger" (click)="deleteLog(selectedLog.id)">
      Delete This Log
   </button>
   <button class="btn btn-outline-secondary" (click)="displayLogTable()">
      All Catch Logs
   </button>
</div>
</div>

<hr />

<div class="container" id="addLogDiv" *ngIf="newLog && !editLog && !selectedLog">
   <h3>Caught a Fish? Add it to the Catch Log!</h3>
   <form>
      <label for="date">Date: </label>
      <input type="date" name="date" [(ngModel)]="newLog.date" required /><br />

      <label for="time">Time of Day : </label>
      <input
         type="radio"
         id="dawn"
         value="1"
         name="time"
         [(ngModel)]="newLog.time.id"
         required
      />
      <label for="dawn">Dawn</label>
      <input
         type="radio"
         id="morning"
         value="2"
         name="time"
         [(ngModel)]="newLog.time.id"
      />
      <label for="morning">Morning</label>
      <input
         type="radio"
         id="noon"
         value="3"
         name="time"
         [(ngModel)]="newLog.time.id"
      />
      <label for="noon">Noon</label>
      <input
         type="radio"
         id="afternoon"
         value="4"
         name="time"
         [(ngModel)]="newLog.time.id"
      />
      <label for="afternoon">Afternoon</label>
      <input
         type="radio"
         id="evening"
         value="5"
         name="time"
         [(ngModel)]="newLog.time.id"
      />
      <label for="evening">Evening</label>
      <input
         type="radio"
         id="dusk"
         value="6"
         name="time"
         [(ngModel)]="newLog.time.id"
      />
      <label for="dusk">Dusk</label>
      <input
         type="radio"
         id="night"
         value="7"
         name="time"
         [(ngModel)]="newLog.time.id"
      />
      <label for="night">Night</label><br />

      <label for="water">Location: </label>
      <select
         name="water"
         id="water-select"
         [(ngModel)]="newLog.water.id"
         required
      >
         <option value="">--- Please select a Location ---</option>
         <option value="1">Standley Lake</option>
         <option value="2">Lake Estes</option>
         <option value="3">Gross Reservoir</option>
         <option value="4">Elevenmile Reservoir</option>
         <option value="5">Lake Isabel</option>
         <option value="6">Taylor Reservoir</option>
         <option value="7">Lake Granby</option>
         <option value="8">Grand Lake</option>
         <option value="9">Blue Mesa Reservoir</option>
         <option value="10">Arkansas River</option>
         <option value="11">South Platte River</option>
         <option value="12">Colorado River</option>
         <option value="13">Gunnison River</option>
         <option value="14">Yampa River</option></select
      ><br />

      <label for="fish">Fish Species : </label>
      <select
         name="fish"
         id="fish-select"
         [(ngModel)]="newLog.fish.id"
         required
      >
         <option value="">--- Please select a Fish Species ---</option>
         <option value="1">Greenback Cutthroat Trout</option>
         <option value="2">Kokanee Salmon</option>
         <option value="3">Rainbow Trout</option>
         <option value="4">Tiger Muskie</option>
         <option value="5">Bluegill</option>
         <option value="6">Northern Pike</option>
         <option value="7">Mountain Whitefish</option>
         <option value="8">Common Carp</option>
         <option value="9">Lake Trout</option>
         <option value="10">Tiger Trout</option></select
      ><br />

      <label for="weight">Fish Weight (in pounds): </label>
      <input
         type="number"
         name="weight"
         [(ngModel)]="newLog.weight"
         required
      /><br />

      <label for="length">Fish Length (in inches): </label>
      <input
         type="number"
         name="length"
         [(ngModel)]="newLog.length"
         required
      /><br />

      <button class="btn btn-dark btn-outline-success" (click)="addLog(newLog)">
         Add Catch Log
      </button>
   </form>
</div>

<div *ngIf="editLog" id="editLogDiv" class="container">
   <label for="date">Date: </label>
   <input type="date" name="date" [(ngModel)]="editLog.date" required /><br />

   <label for="time">Time of Day : </label>
   <input
      type="radio"
      id="dawn"
      [value]="1"
      name="time"
      [(ngModel)]="editLog.time.id"
      required
   />
   <label for="dawn">Dawn</label>
   <input
      type="radio"
      id="morning"
      [value]="2"
      name="time"
      [(ngModel)]="editLog.time.id"
   />
   <label for="morning">Morning</label>
   <input
      type="radio"
      id="noon"
      [value]="3"
      name="time"
      [(ngModel)]="editLog.time.id"
   />
   <label for="noon">Noon</label>
   <input
      type="radio"
      id="afternoon"
      [value]="4"
      name="time"
      [(ngModel)]="editLog.time.id"
   />
   <label for="afternoon">Afternoon</label>
   <input
      type="radio"
      id="evening"
      [value]="5"
      name="time"
      [(ngModel)]="editLog.time.id"
   />
   <label for="evening">Evening</label>
   <input
      type="radio"
      id="dusk"
      [value]="6"
      name="time"
      [(ngModel)]="editLog.time.id"
   />
   <label for="dusk">Dusk</label>
   <input
      type="radio"
      id="night"
      [value]="7"
      name="time"
      [(ngModel)]="editLog.time.id"
   />
   <label for="night">Night</label><br />

   <label for="water">Location: </label>
   <select
      name="water"
      id="water-select"
      [(ngModel)]="editLog.water.id"
      required
   >
      <option value="">--- Please select a Location ---</option>
      <option value="1">Standley Lake</option>
      <option value="2">Lake Estes</option>
      <option value="3">Gross Reservoir</option>
      <option value="4">Elevenmile Reservoir</option>
      <option value="5">Lake Isabel</option>
      <option value="6">Taylor Reservoir</option>
      <option value="7">Lake Granby</option>
      <option value="8">Grand Lake</option>
      <option value="9">Blue Mesa Reservoir</option>
      <option value="10">Arkansas River</option>
      <option value="11">South Platte River</option>
      <option value="12">Colorado River</option>
      <option value="13">Gunnison River</option>
      <option value="14">Yampa River</option></select
   ><br />

   <label for="fish">Fish Species : </label>
   <select name="fish" id="fish-select" [(ngModel)]="editLog.fish.id" required>
      <option value="">--- Please select a Fish Species ---</option>
      <option value="1">Greenback Cutthroat Trout</option>
      <option value="2">Kokanee Salmon</option>
      <option value="3">Rainbow Trout</option>
      <option value="4">Tiger Muskie</option>
      <option value="5">Bluegill</option>
      <option value="6">Northern Pike</option>
      <option value="7">Mountain Whitefish</option>
      <option value="8">Common Carp</option>
      <option value="9">Lake Trout</option>
      <option value="10">Tiger Trout</option></select
   ><br />

   <label for="weight">Fish Weight (in pounds): </label>
   <input
      type="number"
      name="weight"
      [(ngModel)]="editLog.weight"
      required
   /><br />

   <label for="length">Fish Length (in inches): </label>
   <input
      type="number"
      name="length"
      [(ngModel)]="editLog.length"
      required
   /><br />
   <button class="btn btn-danger" (click)="editLog = null">Cancel</button>
   <button class="btn btn-success" (click)="updateLog(editLog)">Save</button>
</div>
