<nav class="navbar navbar-dark bg-dark">
  <a [routerLink]="['/home']" class="nav-link">
    <button class="btn btn-warning" type="button">Home</button></a
  >
  <a [routerLink]="['/logs']" class="nav-link">
    <button class="btn btn-sm btn-info" type="button">Catch Log</button></a
  >
  <a [routerLink]="['/fish']" class="nav-link">
    <button class="btn btn-sm btn-info" type="button">Fish</button></a
  >
  <a [routerLink]="['/waters']" class="nav-link">
    <button class="btn btn-sm btn-info" type="button">Bodies Of Water</button></a
  >
</nav>
